<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Agile Portal" %></h2>
  <p class="lead">A collection of collaborative<br />tool set to simplify your agile planning tasks.</p>
</div>
